<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Ruby Processing</string>
	<key>ordering</key>
	<array>
		<string>AF279673-1D1C-45E7-A206-3B8047F0D671</string>
		<string>7086F2A7-F80F-4A7E-8FE8-575FCED47AC8</string>
	</array>
	<key>uuid</key>
	<string>2B2AABA4-B1A9-412F-8590-55FD42B1BA5C</string>
</dict>
</plist>
